:root {
  --color1: #06141B;
  --color2: #11212D;
  --color3: #253745;
  --color4: #4A5C6A;
  --color5: #9BA8AB;
  --color6: #CCD0CF;
  --color7: #8b88f1;
  --accent: linear-gradient(90deg, #d488ff, #8b88f1);
}

body {
  margin: 0;
  background: var(--color1);
  font-family: 'Segoe UI', sans-serif;
  color: var(--color6);
}

/* Белая карточка */
.card {
  background: white;
  /*background-color: rgba(255, 252, 252, 0.499);*/
  position: relative;
  overflow: hidden;
  color: var(--color1);
  margin: 2rem;
  border-radius: 20px;
  padding: 2rem 4rem;
  backdrop-filter: blur(14px);
  box-shadow: 0 20px 30px rgba(0,0,0,0.3);
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* Верхнее текстовое меню */
.menu {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 3rem;
}

.menu a {
  color: var(--color1);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;
  padding-bottom: 4px;
  position: relative;
}

.menu a.active {
  border-bottom: 2px solid var(--color4);
}


